<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <style>
      .form-control::placeholder {
        color: #cccccc;
      }
    </style>
  </head>

  <body class="container-md">
    <h1>Google Calendar To Slack Status</h1>

    <section class="row my-4">
      <div class="col">
        <form method="post" action="<?= topUrl ?>" target="_top">
          <input type="hidden" name="slack" value="revoke" />
          <button type="submit" class="btn btn-outline-danger">Slack連携解除</button>
        </form>
      </div>
    </section>

    <section class="row col-6 my-4">
      <h2>Status設定</h2>
      <div class="mb-4">
        <? if (triggerDuration > 0) { ?>
        <!--p>Slack Statusは<?= triggerDuration ?>分ごとに更新されています。</p-->
        <form method="post" action="<?= topUrl ?>" target="_top">
          <input type="hidden" name="trigger" value="off" />
          <button type="submit" class="btn btn-outline-danger">Slack Statusの更新を止める</button>
        </form>
        <? } else { ?>
        <form method="post" action="<?= topUrl ?>" target="_top">
          <input type="hidden" name="trigger" value="on" />
          <button type="submit" class="btn btn-outline-primary">Slack Statusを更新する</button>
        </form>
        <? } ?>
      </div>

      <div class="mb-4">
        <p>設定に関しては<a href="https://github.com/okitan/GoogleCalendarToSlackStatus/tree/main#%E8%A8%AD%E5%AE%9A" target="_blank">ここ</a>を参照すること</p>
      </div>

      <? Object.keys(defaultConfig).forEach((item) => { ?>
      <form class="input-group mb-3" method="post" action="<?= topUrl ?>" target="_top">
        <span class="input-group-text"><?= item ?></span>
        <input
          type="text"
          class="form-control"
          id="<?= item ?>"
          name="properties.<?= item ?>"
          value="<?= properties[item] ?>"
          <? if (item.endsWith("Icon")) { ?>
          pattern="^:.+:$"
          <? } ?>
          placeholder="<?= defaultConfig[item] ?>"
        />
        <button type="submit" class="btn btn-outline-secondary">更新</button>
      </form>
      <? }) ?>
    </section>
  </body>
</html>
